*{
    margin: 0;
    padding: 0;
}

professor{
    border: 5px solid black;
    width: 40em;
    margin-top: 5em;
    margin-left: 5em;
}
nom{
    font-size: 3.5em;
    margin-top: 1em;
    display: inline-block;
    margin-left: 1em;
}
cognom{
    margin-top: 1em;
    display: inline-block;
    font-size: 3.5em;
}
departament{
    font-size: 1em;
    display: block;
    margin-top: 2em;
    margin-left: 4em;
    font-weight: bold;
    
}
carrecs{
    font-size: 0.9em;
    display: block;
    margin-left: 5.3em;
    font-style: italic;
    padding-bottom: 2em;
}
